@model IEnumerable<E_LEARNING.Models.Categorie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<main class="ttr-wrapper">
    <div class="container-fluid">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-bordered table-striped">
            <thead style="background-color: #4d0a91;">
                <tr>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="text-white"> @Html.DisplayNameFor(model => model.ProfilePicture)</th>
                    <th class="text-white">Opions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="@FileLocation.RetriveFileFromFolder@item.ProfilePicture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </main>
